@{
    ViewBag.Title = "About";
}

<section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Madrasa is designed to connect students, TAs, and professors so every student can get the help they need when they need it.</p>
                </div>
                <div class="col-lg-4">
                    <p>It warms me to think We started something that can impact the way students learn and the way instructors teach.

I sincerely hope Madrasa enhances your experience as a student, as a TA, and as a professor.</p>
                </div>
                
            </div>
        </div>
    </section>
